body {
    background-color: rgba(0, 0, 0, 0.938);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.info {
    margin-block-end: 10px;
    display: flex;
    flex-wrap: wrap;
}


.result {
    margin-block: 10px;
    padding: 5px 20px;
    background-color: rgba(240, 248, 255, 0.144);
    color: aliceblue;
}

button {
    background: none;
    border: 2px solid aliceblue;
    background-color: rgba(240, 248, 255, 0.144);
    color: aliceblue;
    font-size: inherit;
    padding: 5px 20px;
}

span {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin-inline-end: 10px;
    border: solid 1px beige;
}

.icon {
    display: inline-block;
    background-color: antiquewhite;
    background-size: contain;
    padding: 12px;
    margin-inline-end: 12px;
}

.icon.radiant {
    border-color: aqua;
    background-image: url("./static/icons/radiant.svg");
}

.icon.force {
    border-color: blue;
    background-image: url("./static/icons/force.svg");
}

.icon.fire {
    border-color: tomato;
    background-image: url("./static/icons/fire.svg");
}

.icon.necrotic {
    background-image: url("./static/icons/necrotic.svg");
}

.icon.default {
    display: none;
}
